/* @page{
  margin: 0cm;
  padding: 0cm;
} */

:root{
  --abc-indent: 1.5em;
}

html,body{
  margin: 0;
  padding: 0;
  print-color-adjust: exact !important;
}

*{
  box-sizing: border-box;
}

@media print{
  .no-print{
    display: none;
  }
}
@media screen{
  .only-print{
    display: none;
  }
}

.arbeitsblatt{
  font-size: 12pt;
  font-family: sans-serif;
}

.karopapier{
  stroke: gray; 
  stroke-width: 0.04;
}

.pagebreak{
  break-after: page;
}

.abstand-x{
  display: inline-block;
}
.abstand-y{
  display: block;
}

.papier{
  break-after: page;
  break-before: page;
  break-inside: avoid;
  display: flex;
  flex-direction: column;
  height: 100svh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

@media screen{
  .papier{
    border: 1pt dotted gray;
    height: 29.7cm;
  }
}

.seite{
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  font-family: sans-serif;
  font-size: 12pt;
  text-align: justify;
}

.seiteninhalt{
  flex: 1;
  margin: 1cm 2cm;
}

.kopfzeile,.fusszeile{
  display: grid;
  align-items: center;
  position: relative;
  grid-template-columns: 1fr 2fr 1fr;
}

.fusszeile-links,.kopfzeile-links{
  grid-column: 1;
  justify-self: left;
  white-space: nowrap;
  overflow: visible;
}

.fusszeile-mitte,.kopfzeile-mitte{
  grid-column: 2;
  justify-self: center;
  text-align: center;
  white-space: nowrap;
  overflow: visible;
}

.fusszeile-rechts,.kopfzeile-rechts{
  grid-column: 3;
  justify-self: rechts;
  text-align: right;
  white-space: nowrap;
  overflow: visible;
}

.kopfzeile-links{
  padding-left: 1cm;
  padding-top: 0.5cm
}
.kopfzeile-rechts{
  padding-right: 1cm;
  padding-top: 0.5cm
}
.kopfzeile-mitte{
  padding-top: 0.5cm;
}

.fusszeile-links{
  padding-left: 1cm;
  padding-bottom: 0.5cm;
}

.fusszeile-rechts{
  padding-right: 1cm;
  padding-bottom: 0.5cm;
}

.fusszeile-mitte{
  padding-bottom: 0.5cm;
}

/* .kopfzeile>*:nth-child(1), .fusszeile>*:nth-child(1){
  
}
.kopfzeile>*:nth-child(2), .fusszeile>*:nth-child(2){
  justify-self: center;
}
.kopfzeile>*:nth-child(3), .fusszeile>*:nth-child(3){
  justify-self: right;
} */

.aufgabennummer{
  /* border: 1pt solid black; */
  position: absolute;
  transform: translate(-120%,0rem);
  min-width: 2em;
  font-weight: bold;
  text-align: center;
}

.aufgabentitel{
  font-weight: bold;
}

.aufgabe{
  position: relative;
  margin: 2ex 0;
}

.titel{
  text-align: center;
}

.punkte{
  float: right;
  transform: translate(120%,-0.2rem);
  min-width: 2em;
  padding: 0.2rem;
  font-weight: bold;
  text-align: center;
}

.weblink{
  color: inherit;
}

.auto-absatz{
  margin: 0.1em 0;
}

.abc{
  display: grid;
  row-gap: 0.5ex;
  column-gap: 1ex;
  margin-top: 0.5ex;
  margin-bottom: 0.5ex;
}

.hessenkasten-aussen{
  display: flex;

}

.hessenkasten{
  border: 1pt solid black;
  margin: auto;
  display: inline-block;
  padding: 0.5ex 1ex;
}

.daneben-rechts{
  float: right;
}

.daneben-links{
  float: left;
}

.zentriert{
  display: grid;
  place-content: center;
  text-align: center;
}

